{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}
{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading  "heading1" .Params.values.heading1  "text1" .Params.values.text1
"text2" .Params.values.text2  "text3" .Params.values.text3 
"text4" .Params.values.text4 "text5" .Params.values.text5
"text6" .Params.values.text6 "text7" .Params.values.text7
"text8" .Params.values.text8 "text9" .Params.values.text9
"buttonText" "Ver mais" "buttonLink" "/values") }}

{{ end }}
